body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#container{
    width: inherit;
    height: inherit;
    margin: inherit;
    background-image: url(./assets/BigBirdEdit.png);
    background-repeat: no-repeat;
    background-size: auto;
}

#object-box{
   width: 100px;
   height: 100px;
   background-color: blue;
   position: absolute;
   left: 40px;
   top: 40px;
}

.svg-eye{
    position: absolute;
}

#eye1{
    top: 225px;
    left: 273px;
}

#eye2{
    top: 198px;
    left: 315px;
}